[trainer]
batch_size = 100


[imitation_learning]
il_episodes = 100
il_policy = orca_robot
il_epochs = 100
il_learning_rate = 0.001
# increase the safety space in ORCA demonstration for robot
safety_space = 0.2


[train]
rl_learning_rate = 0.001
# number of batches to train at the end of training episode
train_batches = 100
# training episodes in outer loop
train_episodes = 100000
# number of episodes sampled in one training episode
sample_episodes = 1
#shijian pinggu jiange
evaluation_interval = 10
# the memory pool can roughly store 2K episodes, total size = episodes * 50
capacity = 100000
checkpoint_interval = 100

value_loss_coef = 0.5
entropy_coef = 0.01


epsilon_start = 0.4
epsilon_end = 0.08
epsilon_decay = 4000
